@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dancing+Script:wght@700&display=swap");

body {
  background-image: url(https://media0.giphy.com/media/10X5oVBTgURLtC/giphy.webp?cid=ecf05e47w19tztu13h8q0d8c4dtpcl8gsp9c5iwbujbkgyd0&ep=v1_gifs_search&rid=giphy.webp&ct=g);
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.child {
  text-align: center;
  display: block;
  padding-top: 80px;
  width: 50%;
  height: 220px;
}

/* input */
.input {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  margin-left: 0px;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid pink;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid pink;
}

/* button */
.button-main {
  padding-top: 35px;
}

button {
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

button:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

/*neuromorphism settings*/
.neuromorphism {
  border-radius: 23px;
  background: linear-gradient(145deg, #eb94ec, #c67cc7);
  box-shadow: 5px 5px 10px #d586d6, -5px -5px 10px #e38ee4;
}

/*popup dica*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content button {
  margin-top: 10px;
}

button:nth-child(2) {
  display: inline;
  width: 75px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .child {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    width: 100vh;
    height: 200px;
  }

  .input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    border-radius: 30px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }

  .button-main {
    text-align: center;
    padding-top: 20px;
  }
  button:nth-child(2) {
    margin-left: 12px;
  }
}
