@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@1,700&display=swap");

html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #646ba9;
}

.title {
  font-family: "Roboto Mono", monospace;
  font-size: 1.75rem;
  text-align: center;
  margin: 0 auto;
  width: 50vw;
}

.subtitle {
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
  text-align: center;
  margin: 0 auto;
  width: 80vw;
}

img {
  border: 3px solid #a9646b;
}

.image-text {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 80vw;
}

.image-link-container {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 5vh;
}

.claymorphism {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  box-shadow: 0px 35px 68px 0px rgba(169, 100, 107, 0.5),
    inset 0px -5px 16px 0px rgba(169, 100, 107, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}

/* animations */
.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .title {
    width: 75vw;
    font-size: 1.25rem;
  }

  .subtitle {
    width: 80vw;
    font-size: 1rem;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.005vw;
    padding-bottom: 0.005vw;
  }
}
